body{
    background: radial-gradient(#9696e4, #4545ee);
    font-size: 1.2em;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    min-height: 50vh;
}

progress{
    width: 80%;
    margin: 10px;
}

#controls{
    background: lightcyan;
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 0.8em;
}

#songList{
    background: lightcyan;
    border-radius: 10px;
    text-align: left;
}

li{
    padding: 8px;
}

svg{
    color: rgb(47, 54, 61);
}

li:hover, svg:hover{
    cursor: pointer;
}